/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

option.nada {
    text-align: center;
    width: auto;
}

*:focus {
    outline: 4px solid teal;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    
}

input, select {
    width: 200px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: #0072d4;
    padding: 0 20px 0px 20px;
    position: relative;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

footer {
    background-color: black;
    color: #ddd;
    left: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center; 
    z-index: -1;
}

select:target-text {
    text-align: center;
}

select:invalid {
    outline: 2px solid red;
}

#reset {
    background-color: rgb(228, 44, 44);
    color: #eee;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#reset:hover {
    background-color: rgb(145, 11, 38);
}

#gerar {
    background-color: yellowgreen;
    color: #eee;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#gerar:hover {
    background-color: green;
}

.select-container {
    display: inline-block;
}

.select-container label {
    margin-left:-8%;
    margin-bottom: 15%;
}

.quest {
    position: relative;
    top: 2px;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    border-radius: 60%;
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
}

.tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    -ms-visibility: hidden;
    background-color: rgba(24, 24, 24, 0.75);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 15px;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 120%;
    width: 890%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.container {
    flex:1 1 auto;
    z-index: 0;

}